h1 {
    color: white; 
    background-color: red; 
    text-align: center;
    font-size: 28px;
    padding: 10px; 
    border-radius: 5px; 
}


.contenedor {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    max-width: 80%;
    margin: auto;
}

.imagen {
    width: 50%; 
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.texto {
    width: 50%; 
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
